/* Author: Kelly Kuhn */
/* Date: Aug 6, 2023, 7, 2023 */

/* Final Project: Creating a simple game of Tic-Tac-To from different area
   of research. I used YouTube, and the web. The documentation will be added
   to the algorithm paper.
*/


/* Start creating the elements for the body of the playing board */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* Using #game_Board set the width and height, use the background-color black
b/c all my squares will be white, create flex and flex wrap which is a
container which expands items to fill available space or shrinks them to
prevent overflow. */
#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

/* Creating the contents for the square boxes */
.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    /* Center items inside the box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Cox color on the inside */
    box-sizing: border-box;
}

/* Create a class circle */
.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    /* circle color on the inside */
    box-sizing: border-box;

}

/* Create a class called x */
.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);

}

/* Establish the plus sign to an x */
.cross:before, .cross::after {
    content: " ";
    position: absolute;
    background-color: red;

}

.cross:before {
    left: 50%;
    width: 30%;
    margin-left:  -15%;
    height: 100%;
}

.cross:after {
    top: 50%;
    height: 30%;
    margin-top:  -15%;
    width: 100%;
}