/* Author: Kelly Kuhn */
/* Date: Aug 6, 2023, 7, 2023 */

/* Final Project: Creating a simple game of Tic-Tac-To from different area
   of research. I used YouTube, and the web. The documentation will be added
   to the algorithm paper.
*/

:root {
    --cell-size: 100px;
    /* create the size of the x and o's */
    --mark-size: cal(var(--cell-size) * .9);
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Start creating the elements for the body of the playing board */
body {
    margin: 0;
}

/* Create a cell var for width and height */
:root {
    --cell-size: 100px;
    /* Create the size of our x and o's inside the cell */
    --mark-size: cal(var(--cell-size) * .9);
}

/* Using #.board set the width and height, set display, justify content, 
align content . */
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

/* Working with the individual 9 cells creating boards */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

/* Remove the top outside boarder */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

/* Remove the border on the left outside boarder */
.cell:nth-child(3n + 1) {
    border-left: none;
}

/* Remove the border on the right outside boarder */
.cell:nth-child(3n + 3) {
    border-right: none;
}

/* Remove the bottom outside boarder */
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}
